APP_NAME=Career Copilot API Gateway
APP_ENV=development
APP_VERSION=0.1.0

API_PREFIX=/api/v1

HOST=127.0.0.1
PORT=8000

FRONTEND_URL=http://localhost:3000

DOCUMENT_PARSER_SERVICE_URL=http://127.0.0.1:8001
AGENT_SERVICE_URL=http://127.0.0.1:8002

REQUEST_TIMEOUT_SECONDS=60

LOG_LEVEL=INFO